
.avatarUser[b-v8x0jvqy4b] {
    width: 80px;
    height: 80px;
    border: 0.5px solid;
    border-radius: 50%;
}

.userSidebar[b-v8x0jvqy4b] {
    width: 100%;
    padding: 2%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.subMenu[b-v8x0jvqy4b] {
    position: absolute;
    right: -10px;
    cursor:pointer;
}
.layout[b-v8x0jvqy4b] {
    display: grid;
    height: 100vh;
}

.sidebar[b-v8x0jvqy4b] {
    grid-area: sidebar;
    box-shadow: 1px 1px 10px #888888;
}

main[b-v8x0jvqy4b] {
    grid-area: main;
}

@media (max-width: 46.1875em) {
    .layout[b-v8x0jvqy4b] {
        grid-template-rows: auto 40px;
        grid-template-columns: auto;
        grid-template-areas: 'main' 'sidebar';
    }
}

@media (min-width: 46.1875em) {
    .layout[b-v8x0jvqy4b] {
        grid-template-rows: auto;
        grid-template-columns: 6% auto;
        grid-template-areas:
            'sidebar main';
        transition: all 0.5s;
    }

    .actionPage:checked ~ .layout[b-v8x0jvqy4b] {
        grid-template-columns: 15% auto;
    }

        .actionPage:checked ~ .layout .userSidebar[b-v8x0jvqy4b] {
            justify-content: flex-start;
        }

}