/* _content/Core.Blazor/Component1.razor.rz.scp.css */
.my-component[b-bygie8ryv6] {
    border: 2px dashed red;
    padding: 1em;
    margin: 1em 0;
    background-image: url('background.png');
}
/* _content/Core.Blazor/UIComponent/Menu/TreMenu.razor.rz.scp.css */
.treeMenu[b-mus3upxgt7] {
    width: 100%;
    padding: 0;
}

    .treeMenu[b-mus3upxgt7],
    .treeMenu ul[b-mus3upxgt7],
    .treeMenu ul li[b-mus3upxgt7] {
        list-style: none;
    }

        .treeMenu ul[b-mus3upxgt7] {
            display: none;
        }

        .treeMenu .accordion-toggle[b-mus3upxgt7] {
            position: absolute;
            opacity: 0;
        }

        .treeMenu .accordion-title[b-mus3upxgt7] {
            color: #788B94;
            display: flex;
            background: #ffffff;
            text-decoration: none;
            justify-content: center;
        }

            .treeMenu .accordion-title span[b-mus3upxgt7] {
                display: none;
            }

            .treeMenu .accordion-title:hover[b-mus3upxgt7] {
                background: #F7F9F9;
            }

        .treeMenu .accordion-toggle:checked + .accordion-title + ul[b-mus3upxgt7],
        .treeMenu .accordion-toggle:checked + .accordion-title:nth-of-type(n) + ul[b-mus3upxgt7] {
            display: block;
        }

        .treeMenu li a i[b-mus3upxgt7],
        .treeMenu .accordion-title i[b-mus3upxgt7] {
            font-size: 1.1em;
            margin-right: 5px;
        }

        .treeMenu ul a[b-mus3upxgt7],
        .treeMenu ul .accordion-title[b-mus3upxgt7] {
            -webkit-box-shadow: inset 0 -1px #EDF1F2;
            -moz-box-shadow: inset 0 -1px #EDF1F2;
            box-shadow: inset 0 -1px #EDF1F2;
            padding-left: 52px;
        }

        .treeMenu ul ul a[b-mus3upxgt7],
        .treeMenu ul ul .accordion-title[b-mus3upxgt7] {
            padding-left: 80px;
        }

        .treeMenu ul ul ul a[b-mus3upxgt7],
        .treeMenu ul ul ul .accordion-title[b-mus3upxgt7] {
            padding-left: 110px;
        }

        .treeMenu ul a:hover[b-mus3upxgt7],
        .treeMenu ul .accordion-title:hover[b-mus3upxgt7] {
            background: #FDFDFD;
        }

.check-menu:checked ~ .page .treeMenu .accordion-title[b-mus3upxgt7] {
    justify-content: start;
}

.check-menu:checked ~ .page .accordion-title span[b-mus3upxgt7] {
    display: block;
}
/*
.check-menu:checked ~ .sidebar .accordion-title {
    background-color: red !important;
}*/
/* .treeMenu .accordion-title::before{
	width:26px;
	height:26px;
	font-size:1.4em;
	content: "\f105"; 
	position: absolute;
	display: inline-block;
	font-family: FontAwesome;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;	
	right:10px;
	top: 49%;
}

.treeMenu .accordion-toggle:checked + .accordion-title::before{
	top: 45%;
	right:22px;
	-webkit-transform: rotate(90deg);
	-moz-transform: rotate(90deg);
	-ms-transform: rotate(90deg);
	-o-transform: rotate(90deg);
	transform: rotate(90deg);
} */

/* @responsive styles */
@media only screen and (min-width: 600px) {

    .treeMenu .accordion-title[b-mus3upxgt7] {
        padding: 12px;
        font-size: 16px;
    }
}
/* _content/Core.Blazor/UIComponent/Updating/CatCode.razor.rz.scp.css */
#bongo-cat[b-86wz7xdhv5] {
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh
}

.typing-animation[b-86wz7xdhv5] {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1200ms;
}

path#f1-l1[b-86wz7xdhv5] {
    animation-name: typing-f1-l1-b-86wz7xdhv5;
}

path#f1-l2[b-86wz7xdhv5] {
    animation-name: typing-f1-l2-b-86wz7xdhv5;
}

path#f1-l3[b-86wz7xdhv5] {
    animation-name: typing-f1-l3-b-86wz7xdhv5;
}

path#f2-l4[b-86wz7xdhv5] {
    animation-name: typing-f2-l4-b-86wz7xdhv5;
}

path#f2-l5[b-86wz7xdhv5] {
    animation-name: typing-f2-l5-b-86wz7xdhv5;
}

path#f2-l6[b-86wz7xdhv5] {
    animation-name: typing-f2-l6-b-86wz7xdhv5;
}

path#f3-l7[b-86wz7xdhv5] {
    animation-name: typing-f3-l7-b-86wz7xdhv5;
}

path#f3-l8[b-86wz7xdhv5] {
    animation-name: typing-f3-l8-b-86wz7xdhv5;
}

path#f3-l9[b-86wz7xdhv5] {
    animation-name: typing-f3-l9-b-86wz7xdhv5;
}

@keyframes typing-f3-l9-b-86wz7xdhv5 {
    0% {
        d: path("M8,25L8,25");
    }

    82% {
        d: path("M8,25L8,25");
    }

    92% {
        d: path("M8,25L96,25");
    }

    100% {
        d: path("M8,25L96,25");
    }
}

@keyframes typing-f3-l8-b-86wz7xdhv5 {
    0% {
        d: path("M8,13L8,13");
    }

    68% {
        d: path("M8,13L8,13");
    }

    82% {
        d: path("M8,13L146,13");
    }

    100% {
        d: path("M8,13L146,13");
    }
}

@keyframes typing-f3-l7-b-86wz7xdhv5 {
    0% {
        d: path("M0,1L0,1");
    }

    60% {
        d: path("M0,1L0,1");
    }

    68% {
        d: path("M0,1L96,1");
    }

    100% {
        d: path("M0,1L96,1");
    }
}

@keyframes typing-f2-l6-b-86wz7xdhv5 {
    0% {
        d: path("M8,25L8,25");
    }

    54% {
        d: path("M8,25L8,25");
    }

    60% {
        d: path("M8,25L69,25");
    }

    100% {
        d: path("M8,25L69,25");
    }
}

@keyframes typing-f2-l5-b-86wz7xdhv5 {
    0% {
        d: path("M8,13L8,13");
    }

    44% {
        d: path("M8,13L8,13");
    }

    54% {
        d: path("M8,13L114,13");
    }

    100% {
        d: path("M8,13L114,13");
    }
}

@keyframes typing-f2-l4-b-86wz7xdhv5 {
    0% {
        d: path("M0,1L0,1");
    }

    30% {
        d: path("M0,1L0,1");
    }

    44% {
        d: path("M0,1L136,1");
    }

    100% {
        d: path("M0,1L136,1");
    }
}

@keyframes typing-f1-l3-b-86wz7xdhv5 {
    0% {
        d: path("M8,25L8,25");
    }

    24% {
        d: path("M8,25L8,25");
    }

    30% {
        d: path("M8,25L61,25");
    }

    100% {
        d: path("M8,25L61,25");
    }
}

@keyframes typing-f1-l2-b-86wz7xdhv5 {
    0% {
        d: path("M8,13L8,13");
    }

    14% {
        d: path("M8,13L8,13");
    }

    24% {
        d: path("M8,13L124,13");
    }

    100% {
        d: path("M8,13L124,13");
    }
}

@keyframes typing-f1-l1-b-86wz7xdhv5 {
    0% {
        d: path("M0,1L0,1");
    }

    14% {
        d: path("M0,1L160,1");
    }

    100% {
        d: path("M0,1L160,1");
    }
}

#paw-right--up[b-86wz7xdhv5],
#paw-right--down[b-86wz7xdhv5],
#paw-left--up[b-86wz7xdhv5],
#paw-left--down[b-86wz7xdhv5] {
    animation: blink-b-86wz7xdhv5 300ms infinite;
}

#paw-right--up[b-86wz7xdhv5],
#paw-left--down[b-86wz7xdhv5] {
    animation-delay: 150ms;
}

@keyframes blink-b-86wz7xdhv5 {
    0% {
        opacity: 0;
    }

    49% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

#laptop__code[b-86wz7xdhv5] {
    transform: rotateX(-37deg) rotateY(-46deg) rotateZ(-23deg) translateX(8px) translateY(20px) translateZ(-50px);
}
/* _content/Core.Blazor/UIPage/Authentication/Login.razor.rz.scp.css */
:root[b-8fwrqtbzow] {
    /** color system **/
    --system-color-dark: oklch(0% 0 0);
    --system-color-light: oklch(100% 0 0);
    --system-color-logo: oklch(60.07% 0.241 28.73 / 80%);
    --system-color-red-100: oklch(60.07% 0.241 28.73 / 25%);
    --system-color-red-200: oklch(60.07% 0.241 28.73 / 50%);
    --system-color-red-300: oklch(60.07% 0.241 28.73 / 100%);
    /** color themes **/
    --system-color-theme-paths: var(--system-color-red-100) var(--system-color-red-300);
    --system-color-theme-planets: var(--system-color-red-200) var(--system-color-red-200) var(--system-color-red-200) var(--system-color-red-300);
    /** planet's radius **/
    /* ♂ Mars real radius ≈ 3389.5km. */
    --planet-radius-mars: 33.895px;
    /* 🜨 Earth real radius ≈ 6371km. */
    --planet-radius-earth: 63.71px;
    /* ♀ Venus real radius ≈ 6051.8km. */
    --planet-radius-venus: 60.518px;
    /* ☿ Mercury real radius ≈ 2439.7km. */
    --planet-radius-mercury: 24.397px;
    /* ☉ Sun real radius ≈ 696340km (40 times smaller compared to the planet's dimensions values). */
    --star-radius-sun: 174.085px;
    /** planet's trajectories **/
    --planet-trajectory-mars: 446.085px;
    --planet-trajectory-earth: 332.085px;
    --planet-trajectory-venus: 257.085px;
    --planet-trajectory-mercury: 203.085px;
    /** units **/
    --system-margin-mars: 292px;
    --system-margin-earth: 35px;
    --system-margin-venus: 15px;
    --system-margin-mercury: 38px;
    --system-border-width: min(2px, .4vmin);
}

*[b-8fwrqtbzow],
*[b-8fwrqtbzow]::after,
*[b-8fwrqtbzow]::before {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html[b-8fwrqtbzow] {
    font-size: 16px;
}

body[b-8fwrqtbzow] {
    overflow: hidden;
    width: 100dvw;
    height: 100dvh;
    background-color: var(--system-color-dark);
    /* ☛ ⚠ The distances between the planets and the Sun are not respected because of the diameter of it.
      Also note that for aesthetic reasons, the planet's trajectories are not elliptical and are not oriented as they should be. */

    & .solar-system

{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transform: skewX(-45deg);
    -webkit-transform: skewX(-45deg);
    & .solar-system__sun

{
    z-index: 100;
    /* ☛ ⚠ Size of the Sun is not respected here. */
    aspect-ratio: 1;
    inline-size: var(--star-radius-sun);
    border-radius: 50%;
    background-color: var(--system-color-red-300);
    background: linear-gradient( 135deg, var(--system-color-red-300) 20%, transparent );
    filter: drop-shadow(0px 0px 2px var(--system-color-red-300)) blur(1px);
    -webkit-filter: drop-shadow(0px 0px 2px var(--system-color-red-300)) blur(1px);
    transform: skewX(45deg);
    -webkit-transform: skewX(45deg);
}

& article:not(.solar-system__sun)[b-8fwrqtbzow] {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 99;
    aspect-ratio: 1;
    border-radius: 50%;
    background: transparent;
    border-width: var(--system-border-planets-width);
    border-style: solid;
    border-color: var(--system-color-theme-planets);
    &::after

{
    position: inherit;
    content: "";
    aspect-ratio: 1;
    inline-size: 40%;
    border-radius: inherit;
    background: var(--system-color-red-300);
    -webkit-filter: drop-shadow(0px 0px 4.8px var(--system-color-red-200)) blur(0.5px);
    filter: drop-shadow(0px 0px 4.8px var(--system-color-red-200)) blur(0.5px);
}

}

& section[b-8fwrqtbzow] {
    position: absolute;
    z-index: 98;
    aspect-ratio: 1;
    border-radius: 50%;
    border-width: var(--system-border-width);
    border-style: solid;
    border-color: var(--system-color-theme-paths);
}

& .solar-system__mercury-trajectory[b-8fwrqtbzow] {
    inline-size: var(--planet-trajectory-mercury);
    /* ☿ Mercury revolution duration ≈ 87.969 days. */
    -webkit-animation: revolution 43.9845s linear infinite;
    animation: revolution-b-8fwrqtbzow 43.9845s linear infinite;
    & .solar-system__mercury-trajectory__mercury

{
    inline-size: var(--planet-radius-mercury);
    top: var(--system-margin-mercury);
    /* ☿ Mercury rotation period ≈ 58.645 days. */
    -webkit-animation: revolution 29.3225s linear infinite;
    animation: revolution-b-8fwrqtbzow 29.3225s linear infinite;
}

}

& .solar-system__venus-trajectory[b-8fwrqtbzow] {
    inline-size: var(--planet-trajectory-venus);
    /* ♀ Venus revolution duration ≈ 224.667 days. */
    -webkit-animation: revolution 112.3335s linear infinite;
    animation: revolution-b-8fwrqtbzow 112.3335s linear infinite;
    & .solar-system__venus-trajectory__venus

{
    inline-size: var(--planet-radius-venus);
    top: var(--system-margin-venus);
    /* ♀ Venus rotation period ≈ 243.023 days. */
    -webkit-animation: revolution 121.513s linear infinite;
    animation: revolution-b-8fwrqtbzow 121.513s linear infinite;
}

}

& .solar-system__earth-trajectory[b-8fwrqtbzow] {
    inline-size: var(--planet-trajectory-earth);
    /* 🜨 Earth revolution duration ≈ 365.2422 days. */
    -webkit-animation: revolution 182.6211s linear infinite;
    animation: revolution-b-8fwrqtbzow 182.6211s linear infinite;
    & .solar-system__earth-trajectory__earth

{
    inline-size: var(--planet-radius-earth);
    top: var(--system-margin-earth);
    /* ✑ animation-duration: .5s ≈ 24 hours on Earth. */
    -webkit-animation: revolution 0.4874s linear infinite;
    animation: revolution-b-8fwrqtbzow 0.4874s linear infinite;
    &::after

{
    -webkit-animation: blink 2s linear infinite;
    animation: blink-b-8fwrqtbzow 2s linear infinite;
}

}
}

& .solar-system__mars-trajectory[b-8fwrqtbzow] {
    inline-size: var(--planet-trajectory-mars);
    /* ♂ Mars revolution duration ≈ 686.885 days. */
    -webkit-animation: revolution 343.4425s linear infinite;
    animation: revolution-b-8fwrqtbzow 343.4425s linear infinite;
    & .solar-system__mars-trajectory__mars

{
    inline-size: var(--planet-radius-mars);
    top: var(--system-margin-mars);
    /* ✑ animation-duration: .5s ≈ 24 hours on Earth. */
    -webkit-animation: revolution 0.5128s linear infinite;
    animation: revolution-b-8fwrqtbzow 0.5128s linear infinite;
}

}
}

& #logo[b-8fwrqtbzow] {
    inline-size: 8vmin;
    aspect-ratio: 1;
    position: absolute;
    inset: auto 1.6vmin 1.6vmin auto;
    opacity: 0.3;
    -webkit-filter: saturate(60%);
    filter: saturate(60%);
    transition: opacity 0.7s linear, filter 0.7s linear;
    & circle

{
    -webkit-fill: var(--system-color-logo);
    fill: var(--system-color-logo);
}

& path[b-8fwrqtbzow] {
    -webkit-fill: var(--system-color-dark);
    fill: var(--system-color-dark);
}

&:hover[b-8fwrqtbzow] {
    opacity: 1;
    -webkit-filter: saturate(100%);
    filter: saturate(100%);
}

}
}


/*
  ▀▄▀▄▀▄▀▄▀▄▀▄ ANIMATIONS ▀▄▀▄▀▄▀▄▀▄▀▄
  */

@keyframes revolution-b-8fwrqtbzow {
    to {
        transform: rotateZ(1turn);
    }
}

@keyframes blink-b-8fwrqtbzow {
    to {
        background-color: var(--system-color-dark);
        filter: drop-shadow(0 0 0 var(--system-color-red-200)) blur(0);
    }
}

/*** ◰ media queries ***/
/** smartphone **/
@media screen and (width < 768px) {
    body[b-8fwrqtbzow] {
        & .solar-system

{
    & .solar-system__sun

{
    inline-size: calc(var(--star-radius-sun) / 2);
}

& .solar-system__mercury-trajectory[b-8fwrqtbzow] {
    inline-size: calc(var(--planet-trajectory-mercury) / 2);
    & .solar-system__mercury-trajectory__mercury

{
    inline-size: calc(var(--planet-radius-mercury) / 2);
    top: calc(var(--system-margin-mercury) - 20px);
}

}

& .solar-system__venus-trajectory[b-8fwrqtbzow] {
    inline-size: calc(var(--planet-trajectory-venus) / 2);
    & .solar-system__venus-trajectory__venus

{
    inline-size: calc(var(--planet-radius-venus) / 2);
    top: calc(var(--system-margin-venus) - 9px);
}

}

& .solar-system__earth-trajectory[b-8fwrqtbzow] {
    inline-size: calc(var(--planet-trajectory-earth) / 2);
    & .solar-system__earth-trajectory__earth

{
    inline-size: calc(var(--planet-radius-earth) / 2);
    top: calc(var(--system-margin-earth) - 19px);
}

}

& .solar-system__mars-trajectory[b-8fwrqtbzow] {
    inline-size: calc(var(--planet-trajectory-mars) / 2);
    & .solar-system__mars-trajectory__mars

{
    inline-size: calc(var(--planet-radius-mars) / 2);
    top: calc(var(--system-margin-mars) - 234px);
}

}
}
}
}

/** 4K and 8K Ultra HD **/
/*
  @media screen and (width > 1920px) {
      & .solar-system__sun {
          inline-size: calc(var(--star-radius-sun) * 2);
      }
  }
  
  @media screen and (width > 3840px) {
      & .solar-system__sun {
          inline-size: calc(var(--star-radius-sun) * 4);
      }
  }*/
/* _content/Core.Blazor/UIPage/PageLayout/Page.razor.rz.scp.css */
.avatarUser[b-qanr234ws9] {
    width: 80px;
    height: 80px;
    border: 0.5px solid;
    border-radius: 50%;
}

.userSidebar[b-qanr234ws9] {
    width: 100%;
    padding: 2%;
    position: relative;
    justify-content: center;
    align-items: center;
}

.subMenu[b-qanr234ws9] {
    position: absolute;
    right: -10px;
    cursor: pointer;
}

.layout[b-qanr234ws9] {
    display: grid;
    height: 100vh;
}

.sidebar[b-qanr234ws9] {
    grid-area: sidebar;
    box-shadow: 1px 1px 10px #888888;
}

main[b-qanr234ws9] {
    grid-area: main;
}

@media (max-width: 46.1875em) {
    .layout[b-qanr234ws9] {
        grid-template-rows: auto 40px;
        grid-template-columns: auto;
        grid-template-areas: 'main' 'sidebar';
    }
}

@media (min-width: 46.1875em) {
    .layout[b-qanr234ws9] {
        grid-template-rows: auto;
        grid-template-columns: 6% auto;
        grid-template-areas:
            'sidebar main';
        transition: all 0.5s;
    }

    .actionPage:checked ~ .layout[b-qanr234ws9] {
        grid-template-columns: 15% auto;
    }

        .actionPage:checked ~ .layout .userSidebar[b-qanr234ws9] {
            justify-content: flex-start;
        }
}
