*{box-sizing: border-box; margin: 0;}

.center{justify-content: center; align-content: center;}
.vCneter{}
.hCenter{}

.row {
    display: flex; /* cho nằm theo chiều ngang */
    flex-wrap: wrap; /* cho xuống dòng khi quá giới hạn row */
}

.col {padding: 0 1%;}

/* 
    XS => Extra Small 
    Mobile min-width: 480px or min-width: 767px Test 
*/
.XS-0 {display: none;}
.XS-1 {flex: 0 0 8.33333%; max-width: 8.33333%;}
.XS-2 {flex: 0 0 16.66667%; max-width: 16.66667%;}
.XS-3 {flex: 0 0 25%; max-width: 25%;}
.XS-4 {flex: 0 0 33.33333%; max-width: 33.33333%;}
.XS-5 {flex: 0 0 41.66667%; max-width: 41.66667%;}
.XS-6 {flex: 0 0 50%; max-width: 50%;}
.XS-7 {flex: 0 0 58.33333%; max-width: 58.33333%;}
.XS-8 {flex: 0 0 66.66667%; max-width: 66.66667%;}
.XS-9 {flex: 0 0 75%; max-width: 75%;}
.XS-10 {flex: 0 0 83.33333%;max-width: 83.33333%;}
.XS-11 {flex: 0 0 91.66667%; max-width: 91.66667%;}
.XS-12 {flex: 0 0 100%; max-width: 100%;}

.XS-o-1 {margin-left: 8.33333%;}
.XS-o-2 {margin-left: 16.66667%;}
.XS-o-3 {margin-left: 25%;}
.XS-o-4 {margin-left: 33.33333%;}
.XS-o-5 {margin-left: 41.66667%;}
.XS-o-6 {margin-left: 50%;}
.XS-o-7 {margin-left: 58.33333%;}
.XS-o-8 {margin-left: 66.66667%;}
.XS-o-9 {margin-left: 75%;}
.XS-o-10 {margin-left: 83.33333%;}
.XS-o-11 {margin-left: 91.66667%;}

/*
    SM => Small
    Ipad-Tablet min 739px
    Ipad-Tablet min 481 or 600 - max 768 or 768 - 1023 Test
*/

@media (min-width: 46.1875em) {

.SM-0 { display: none; }
.SM-1 { display: block; flex: 0 0 8.33333%; max-width: 8.33333%; }
.SM-2 { display: block; flex: 0 0 16.66667%; max-width: 16.66667%; }
.SM-3 { display: block; flex: 0 0 25%; max-width: 25%;}
.SM-4 { display: block; flex: 0 0 33.33333%; max-width: 33.33333%; }
.SM-5 { display: block; flex: 0 0 41.66667%; max-width: 41.66667%; }
.SM-6 { display: block; flex: 0 0 50%; max-width: 50%; }
.SM-7 { display: block; flex: 0 0 58.33333%; max-width: 58.33333%; }
.SM-8 { display: block; flex: 0 0 66.66667%; max-width: 66.66667%; }
.SM-9 { display: block; flex: 0 0 75%; max-width: 75%; }
.SM-10 { display: block; flex: 0 0 83.33333%; max-width: 83.33333%; }
.SM-11 { display: block; flex: 0 0 91.66667%; max-width: 91.66667%; }
.SM-12 { display: block; flex: 0 0 100%; max-width: 100%; }

.SM-o-1 { margin-left: 8.33333%; }
.SM-o-2 { margin-left: 16.66667%; }
.SM-o-3 { margin-left: 25%; }
.SM-o-4 { margin-left: 33.33333%; }
.SM-o-5 { margin-left: 41.66667%; }
.SM-o-6 { margin-left: 50%; }
.SM-o-7 { margin-left: 58.33333%; }
.SM-o-8 { margin-left: 66.66667%; }
.SM-o-9 { margin-left: 75%; }
.SM-o-10 { margin-left: 83.33333%; }
.SM-o-11 { margin-left: 91.66667%;}
}

/*
    MD => Medium
    Laptop min 740px - max 1023px
    Laptop min 769 - 992 max 1024 - 1439 Test
*/
@media (min-width: 46.25em) and (max-width: 63.9375em) {
.MD-0 {display: none;}
.MD-1 {flex: 0 0 8.33333%; max-width: 8.33333%;}
.MD-2 {flex: 0 0 16.66667%; max-width: 16.66667%;}
.MD-3 {flex: 0 0 25%; max-width: 25%;}
.MD-4 {flex: 0 0 33.33333%; max-width: 33.33333%;}
.MD-5 {flex: 0 0 41.66667%; max-width: 41.66667%;}
.MD-6 {flex: 0 0 50%; max-width: 50%;}
.MD-7 {flex: 0 0 58.33333%; max-width: 58.33333%;}
.MD-8 {flex: 0 0 66.66667%; max-width: 66.66667%;}
.MD-9 {flex: 0 0 75%; max-width: 75%;}
.MD-10 {flex: 0 0 83.33333%;max-width: 83.33333%;}
.MD-11 {flex: 0 0 91.66667%; max-width: 91.66667%;}
.MD-12 {flex: 0 0 100%; max-width: 100%;}

.MD-o-1 {margin-left: 8.33333%;}
.MD-o-2 {margin-left: 16.66667%;}
.MD-o-3 {margin-left: 25%;}
.MD-o-4 {margin-left: 33.33333%;}
.MD-o-5 {margin-left: 41.66667%;}
.MD-o-6 {margin-left: 50%;}
.MD-o-7 {margin-left: 58.33333%;}
.MD-o-8 {margin-left: 66.66667%;}
.MD-o-9 {margin-left: 75%;}
.MD-o-10 {margin-left: 83.33333%;}
.MD-o-11 {margin-left: 91.66667%;}
}
/*
    LG => Large
    PC Desktop  min 1024 - max 1199  
    PC Desktop min 1025 max 1200* or min 1440 Test
*/
@media (min-width: 64em) and (max-width: 74.9375em) {

.LG-0 { display: none; }
.LG-1 { display: block; flex: 0 0 8.33333%; max-width: 8.33333%; }
.LG-2 { display: block; flex: 0 0 16.66667%; max-width: 16.66667%; }
.LG-3 { display: block; flex: 0 0 25%; max-width: 25%; }
.LG-4 { display: block; flex: 0 0 33.33333%; max-width: 33.33333%; }
.LG-6 { display: block; flex: 0 0 50%; max-width: 50%; }
.LG-7 { display: block; flex: 0 0 58.33333%; max-width: 58.33333%; }
.LG-8 { display: block; flex: 0 0 66.66667%; max-width: 66.66667%; }
.LG-9 { display: block; flex: 0 0 75%; max-width: 75%; }
.LG-10 { display: block; flex: 0 0 83.33333%; max-width: 83.33333%; }
.LG-11 { display: block; flex: 0 0 91.66667%; max-width: 91.66667%; }
.LG-12 { display: block; flex: 0 0 100%; max-width: 100%; }

.LG-o-1 { margin-left: 8.33333%; }
.LG-o-2 { margin-left: 16.66667%; }
.LG-o-3 { margin-left: 25%; }
.LG-o-4 { margin-left: 33.33333%; }
.LG-o-5 { margin-left: 41.66667%; }
.LG-o-6 { margin-left: 50%; }
.LG-o-7 { margin-left: 58.33333%; }
.LG-o-8 { margin-left: 66.66667%; }
.LG-o-9 { margin-left: 75%; }
.LG-o-10 { margin-left: 83.33333%; }
.LG-o-11 { margin-left: 91.66667%; }
}

/*
    XL => Extra Large
    Extra Large Screens TV Extra Large Screens TV min 1201 Test
*/
@media (min-width: 75em) {
.XL-0 {display: none;}
.XL-1 {flex: 0 0 8.33333%; max-width: 8.33333%;}
.XL-2 {flex: 0 0 16.66667%; max-width: 16.66667%;}
.XL-3 {flex: 0 0 25%; max-width: 25%;}
.XL-4 {flex: 0 0 33.33333%; max-width: 33.33333%;}
.XL-5 {flex: 0 0 41.66667%; max-width: 41.66667%;}
.XL-6 {flex: 0 0 50%; max-width: 50%;}
.XL-7 {flex: 0 0 58.33333%; max-width: 58.33333%;}
.XL-8 {flex: 0 0 66.66667%; max-width: 66.66667%;}
.XL-9 {flex: 0 0 75%; max-width: 75%;}
.XL-10 {flex: 0 0 83.33333%;max-width: 83.33333%;}
.XL-11 {flex: 0 0 91.66667%; max-width: 91.66667%;}
.XL-12 {flex: 0 0 100%; max-width: 100%;}

.XL-o-1 {margin-left: 8.33333%;}
.XL-o-2 {margin-left: 16.66667%;}
.XL-o-3 {margin-left: 25%;}
.XL-o-4 {margin-left: 33.33333%;}
.XL-o-5 {margin-left: 41.66667%;}
.XL-o-6 {margin-left: 50%;}
.XL-o-7 {margin-left: 58.33333%;}
.XL-o-8 {margin-left: 66.66667%;}
.XL-o-9 {margin-left: 75%;}
.XL-o-10 {margin-left: 83.33333%;}
.XL-o-11 {margin-left: 91.66667%;}
}