@import '_content/GSMFCBlazor/GSMFCBlazor.bundle.scp.css';

/* /Shared/MainLayout.razor.rz.scp.css */
/*.page {
    display: grid;
    grid-template-rows: auto 40px;
    grid-template-columns: 1fr;
    grid-template-areas: 'main' 'sidebar';
    gap: 4px;
    height: 100vh;
    transition: all 0.5s;
}

.sidebar {
    grid-area: sidebar;
    position: relative;
    border-right: 1px solid;
}

main {
    grid-area: main;
}

.check-menu {
    visibility: hidden;
    display: none;
}

.subMenu {
    position: absolute;
    top: 125px;
    right: -8px
}

.subMenu:hover {
    opacity: 0.5;
    cursor:pointer
}

.topSidebar {
    width: 100%;
    height: 20%;
    max-height: 200px;
    position: relative;
    justify-content: center;
}
.centerSidebar{
    height: 65%;
}
.bottomSidebar{
    height: 15%;
}

.avatarUser {
    width: 80px;
    height: 80px;
    border: 0.5px solid;
    border-radius: 50%;
}

.infoUser {
    display: none;
}


.logo {
    width: 100%;
    height: 50%;
    max-height:100px;
    justify-content: center;
}

.check-menu:checked ~ .page .infoUser {
    display: flex;
    flex-wrap: wrap;
    width: 63%;
}

.check-menu:checked ~ .page .topSidebar {
    justify-content: flex-start;
}

.check-menu:checked ~ .page .avatarUser {
    margin: 0 5px;
}

@media (min-width: 46.25em) {

    .page {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns: 6% auto;
        grid-template-areas:
            'sidebar main';
        height: 100vh;
    }

    .check-menu:checked ~ .page {
        grid-template-columns: 15% auto;
    }
}
*/
