@inherits LayoutComponentBase

<input id="inputMenu" class="check-menu" type="checkbox" @bind-value="layoutVM.Checkmenu" />
<div class="page">
    <div class="sidebar">
        <div class="topSidebar row">
            <span class="logoCommpany row">

            </span>
            <span class="avatarUser" style="">

            </span>
            <span class="infoUser">

            </span>
        </div>
        <label for="inputMenu" class="subMenu"></label>
        <div class="typeMenu">
            <NavMenu />
        </div>
        <div>
            @* <label>version:<span>v1:1:1:1_Demo</span></label>*@
            </div>
    </div>
    @* <div class="sidebar">
        
    </div> 

    @* main - content *@
    <main>
        <article>
            @Body
        </article>
    </main>
</div>

@code{
    LayoutVM layoutVM = new LayoutVM();

}


